/* styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

* {
	/* border : solid red 1px; */
	/* border: 0px; */
	/* margin: 0px;
	padding: 0px; */
}

/* ul {
	display: flex;
	list-style-type: none;
}

li {
	margin-left: 30px;
} */
