/* * { border: solid 1px black; } */

.scrollbar-hide {
  overflow: auto;
}

.scrollbar-hide::-webkit-scrollbar {
  width: 0px;
}

.scrollbar-hide:hover::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-hide::-webkit-scrollbar-thumb {
  background: #424b75;
  border-radius: 4px;
}

.scrollbar-hide::-webkit-scrollbar-thumb:hover {
  background: #424b75;
  border-radius: 4px;
}